body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:8px;
  width:72px;
  height:37px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:37px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:20px;
  top:160px;
  width:860px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:843px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:860px;
  height:1px;
}
#u6 {
  position:absolute;
  left:20px;
  top:66px;
  width:241px;
  height:33px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:33px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:20px;
  top:99px;
  width:112px;
  height:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:20px;
  top:121px;
  width:860px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:39px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:271px;
  top:70px;
  width:100px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:20px;
  top:280px;
  width:860px;
  height:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:20px;
  top:319px;
  width:860px;
  height:51px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:51px;
}
#u16 {
  position:absolute;
  left:2px;
  top:18px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:167px;
  top:330px;
  width:700px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#868686;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:47px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:30px;
  top:330px;
  width:118px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:30px;
  top:291px;
  width:81px;
  height:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:32px;
  top:350px;
  width:100px;
  height:14px;
  font-size:12px;
  color:#868686;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:14px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:20px;
  top:369px;
  width:860px;
  height:69px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:69px;
}
#u26 {
  position:absolute;
  left:2px;
  top:26px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:167px;
  top:380px;
  width:700px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#868686;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:47px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:30px;
  top:380px;
  width:118px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:33px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:30px;
  top:417px;
  width:100px;
  height:14px;
  font-size:12px;
  color:#868686;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:14px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:20px;
  top:180px;
  width:860px;
  height:55px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:55px;
}
#u34 {
  position:absolute;
  left:2px;
  top:20px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:80px;
  top:191px;
  width:780px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#868686;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:39px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:30px;
  top:191px;
  width:53px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:773px;
  top:240px;
  width:87px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:30px;
  top:240px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:130px;
  top:240px;
  width:88px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:18px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:249px;
  top:240px;
  width:201px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:15px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
