body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:8px;
  width:72px;
  height:37px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:37px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:20px;
  top:125px;
  width:53px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:83px;
  top:119px;
  width:150px;
  height:30px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:700px;
  top:122px;
  width:100px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:20px;
  top:99px;
  width:860px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:843px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:860px;
  height:1px;
}
#u10 {
  position:absolute;
  left:20px;
  top:66px;
  width:97px;
  height:33px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:20px;
  top:240px;
  width:865px;
  height:95px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:39px;
  top:0px;
  width:140px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:179px;
  top:0px;
  width:140px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:319px;
  top:0px;
  width:140px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:459px;
  top:0px;
  width:140px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:599px;
  top:0px;
  width:140px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:739px;
  top:0px;
  width:121px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:30px;
  width:39px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:39px;
  top:30px;
  width:140px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:179px;
  top:30px;
  width:140px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:319px;
  top:30px;
  width:140px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:459px;
  top:30px;
  width:140px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:599px;
  top:30px;
  width:140px;
  height:30px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:739px;
  top:30px;
  width:121px;
  height:30px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:60px;
  width:39px;
  height:30px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:39px;
  top:60px;
  width:140px;
  height:30px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:179px;
  top:60px;
  width:140px;
  height:30px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:319px;
  top:60px;
  width:140px;
  height:30px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:459px;
  top:60px;
  width:140px;
  height:30px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:599px;
  top:60px;
  width:140px;
  height:30px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:739px;
  top:60px;
  width:121px;
  height:30px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:133px;
  top:70px;
  width:100px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u56 {
  position:absolute;
  left:20px;
  top:212px;
  width:88px;
  height:18px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:18px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:20px;
  top:165px;
  width:53px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:83px;
  top:159px;
  width:150px;
  height:30px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u61 {
  position:absolute;
  left:243px;
  top:165px;
  width:53px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:306px;
  top:159px;
  width:150px;
  height:30px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u63_input:disabled {
  color:grayText;
}
#u64 {
  position:absolute;
  left:37px;
  top:278px;
  width:20px;
  height:16px;
}
#u65 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u66 {
  position:absolute;
  left:37px;
  top:306px;
  width:10px;
  height:16px;
}
#u67 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u68 {
  position:absolute;
  left:37px;
  top:248px;
  width:10px;
  height:16px;
}
#u69 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u70 {
  position:absolute;
  left:118px;
  top:208px;
  width:100px;
  height:25px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u71 {
  position:absolute;
  left:243px;
  top:125px;
  width:53px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:306px;
  top:119px;
  width:150px;
  height:30px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u74 {
  position:absolute;
  left:479px;
  top:125px;
  width:40px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:529px;
  top:119px;
  width:150px;
  height:30px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u77 {
  position:absolute;
  left:228px;
  top:208px;
  width:100px;
  height:25px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u78 {
  position:absolute;
  left:20px;
  top:421px;
  width:860px;
  height:40px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:40px;
}
#u79 {
  position:absolute;
  left:2px;
  top:12px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:30px;
  top:434px;
  width:45px;
  height:14px;
  font-size:12px;
  color:#868686;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:85px;
  top:430px;
  width:107px;
  height:20px;
  font-size:14px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:647px;
  top:431px;
  width:40px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:697px;
  top:433px;
  width:63px;
  height:14px;
  font-size:12px;
  color:#868686;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:14px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:20px;
  top:460px;
  width:860px;
  height:40px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:40px;
}
#u89 {
  position:absolute;
  left:2px;
  top:12px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:30px;
  top:474px;
  width:45px;
  height:14px;
  font-size:12px;
  color:#868686;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:85px;
  top:470px;
  width:125px;
  height:20px;
  font-size:14px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:647px;
  top:471px;
  width:40px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:697px;
  top:473px;
  width:63px;
  height:14px;
  font-size:12px;
  color:#868686;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:14px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:30px;
  top:392px;
  width:88px;
  height:18px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:18px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:770px;
  top:428px;
  width:45px;
  height:25px;
}
#u100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u101 {
  position:absolute;
  left:825px;
  top:428px;
  width:45px;
  height:25px;
}
#u101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
